extends ../layout

block content
  .page-header
      h1 Add book
      p.lead Add a book to your collection

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='Title') Title
      .col-sm-7
        input.form-control(type='title', name='title', id='title', placeholder='Title', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='Author') Author
      .col-sm-7
        input.form-control(type='author', name='author', id='author', placeholder='author', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Add