extends ../layout

block content
  .page-header
      h1 Add book
      p.lead Add a book to your collection
  div(ng-app='bookApp')
    form.form-horizontal(method='POST', action='/new', ng-controller='BookController')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='Title') Title
        .col-sm-5
          input.form-control(ng-model='title', type='title', name='title', id='title', autofocus, required)
        button.btn.btn-primary.search-button(type='button', ng-click='searchBook()') Search
      h4(ng-if='books.length') Select from one of the following:
      #book-list(ng-if='books.length')
        .col-md-2.book(ng-repeat='book in books', ng-class="{'book-selected': $index == selectedIndex}", ng-click='updateBook(book, $index)')
          img(ng-src='{{book.volumeInfo.imageLinks.thumbnail}}')
      .form-group(ng-if='books.length')
        label.col-sm-3.control-label(for='Author') Author
        .col-sm-7
          input.form-control(type='author', name='author', id='author', value='{{bk.volumeInfo.authors[0]}}', required)
      .form-group(ng-if='books.length')  
        label.col-sm-3.control-label(for='Description') Description
        .col-sm-7
          textarea.form-control(type='owner_description', name='owner_description', id='owner_description', placeholder='Description', required)
        input.form-control(type='hidden', name='imageURL', id='imageURL', value='{{bk.volumeInfo.imageLinks.thumbnail}}')
        input.form-control(type='hidden', name='description', id='description', value='{{bk.volumeInfo.description}}')
        input.form-control(type='hidden', name='rating', id='rating', value='{{bk.volumeInfo.averageRating}}')
      .form-group(ng-if='books.length')
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | Add
block scripts
  script.
    const senderBooks=null