extends ../layout

block content
  .row
    .pull-left
      h1 My books
      p.lead View and manage your book collection
    a(href='/new') 
      i.fa.fa-plus-circle.fa-3x(aria-hidden='true')
  hr
  if books.length
    ul#book-list
      each book in books
        li 
          p #{book.title}
          p #{book.author}
          a(href='/book/' + book._id)
            img(src=book.imageURL)
          p 
            a(href='#', class='remove-book-link') Remove
  else
    h1 No books found :<