extends ../layout

block content
  .row
    .pull-left
      h1 My books
      p.lead View and manage your book collection
    .pull-right
      a(href='/new') 
        h1 +
  hr
  if books.length
    ul
    each book in books
      li #{book.title}
        a(href='#', ng-click='removeBook(book)') Remove
  else
    h1 No books found :<