extends ../layout

block content
  .page-header.row
    .pull-left
      h1 Your trades
      p.lead View and manage your trades with other users
  .col-md-6
    h4
      b Trades sent to you
    if tradesReceived.length
      each tr in tradesReceived
        li 
          a(href='/trade/' + tr._id) #{tr.book}
    else
      p Currently, you do not have any incoming trades.
  .col-md-6
    h4
      b Trades you've sent to others
    if tradesSent.length
      each ts in tradesSent
        li 
          a(href='/trade/' + ts._id) #{ts.book}
    else
      p Currently, you do not have any outgoing trades.    