extends ../layout

block content
  .page-header.row
    .pull-left
      h1 Your trades
      p.lead View and manage your trades with other users
  .row
    h4
      b Trades sent to you
    h4
      b Trades you've sent to others