extends layout
block links
  link(rel='stylesheet', href='/css/home.css')
block content
  .row.main-intro
    p.lead A trading post for beloved books
  .row.main-description
    a(href='/account/books')
      .col-sm-1
        i.fa.fa-paper-plane-o.fa-4x(aria-hidden='true')
      .col-sm-5
        h2 Share
        p Let others know about your beloved collection of books. Once you post books you've read, other users can look at your general likings and start meaningful trades.
    a(href='/view')
      .col-sm-1
        i.fa.fa-book.fa-4x(aria-hidden='true')
      .col-sm-5
        h2 View
        p Click on any book to view details including feedback from the book owner themselves. Be inspired to pick up a new book and start an adventure!
  .row.main-description
    a(href='/view/tradable')
      .col-sm-1
        i.fa.fa-exchange.fa-4x(aria-hidden='true')
      .col-sm-5
        h2 Trade
        p Convinced that you want that book? Request a trade with the owner immediately, offering them a book they may enjoy in return.
    .col-sm-1
      i.fa.fa-check-circle-o.fa-4x(aria-hidden='true')
    .col-sm-5
      h2 Read
      p Once you have received your book, enjoy! You may also repeat the process with the same book or keep it. Your choice!