body {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://static.pexels.com/photos/486841/pexels-photo-486841.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top; }

.main-intro {
  padding: 5% 0%; }
  .main-intro p {
    font-size: 5em; }

.main-description h2 {
  color: #d83c30;
  font-weight: 300; }

.main-description p {
  font-size: 1.5em; }

i {
  color: gray;
  text-align: center; }
