body {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://static.pexels.com/photos/486841/pexels-photo-486841.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top; }

.main-intro {
  padding: 5% 0%; }
  .main-intro p {
    font-size: 4em; }

.main-description h2 {
  color: #d83c30;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold; }

.main-description p {
  font-size: 1.5em;
  text-align: left; }

.main-description i {
  color: gray;
  margin: 20px; }
