body {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url("/img/homebg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  overflow-y: hidden; }

.main-intro {
  padding: 5% 0%; }
  .main-intro p {
    font-size: 4em; }

.main-description h2 {
  color: #d83c30;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold; }

.main-description p {
  font-size: 1.5em;
  text-align: left; }

.main-description i {
  color: #d83c30;
  margin: 20px; }
